    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="about-section">
        <div class="container">
            <div class="col-lg-12">
                <h2>Our Story</h2>
                        <div class="col-lg-3 col-md-3">
                            <img src="../img/jenn_and_dom.png" /> <!--style="margin: 6% 0"/>-->
                            <h3>How They Met</h3>
                            <p>Jenn and Dom met on Dom's 23rd birthday, brought together by the Maid of Honor, Ana Hernandez and Co-Best Man, Jon Valones.</p>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <img src="../img/montclair.jpg" /> <!--style="margin: 6% 0"/>-->
                            <h3>First Date</h3>
                            <p>One of their most memorable first dates was in Montclair, where Jenn introduced Dom to Sushi and they saw a 90s cover band at Just Jakes.</p>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <img src="../img/engagement.jpg" />
                            <h3>The Engagement</h3>
                            <p>Dom asked Jenn on April 4, 2014 at their soon-to-be apartment. He suprised her with dinner in a room filled with candles and rose petals. The couple then celebrated with close friends.</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img src="../img/jenn_and_dom_2.jpg" />
                            <h3>What else?</h3>
                            <ul>
                            	<li><b>First Concert was</b> Dave Matthews Band</li>
                            	<li><b>Best Season is </b>Autumn (fashion and football)</li>
                            	<li><b>Favorite Sushi Roll is</b> Spicy Tuna</li>
                            	<li><b>Honeymooning in</b> Costa Rica</li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </section>