    <!-- Accommodations Section -->
    <section id="accommodations" class="container content-section">
        <h2>Accommodations</h2>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <img src="../img/holiday_inn.jpg" />
            </div>
            <div class="col-lg-5">
            	<ul>
            		<li>Holiday Inn (Budd Lake - Rockaway Area)</li>
                	<li><a href="https://www.google.com/maps/place/Holiday+Inn+Budd+Lake+-+Rockaway+Area/@40.9084029,-74.7243655,17z/data=!3m1!4b1!4m2!3m1!1s0x89c376303636fb47:0x5a6ff08f4e9c897c" target="_blank">1000 International Drive North, 
Budd Lake, NJ 07828</a></li>
					<li>(973) 448 – 3939</li>
				</ul>
				<div>Please use the link below to get the group rate - available for both Friday (4/29) and Saturday (4/30) night. Shuttle service to and from the reception will be provided for guests. The hotel bar will stay open after the reception.</div><br />
				<div class="hotel-link"><a href="http://www.holidayinn.com/redirect?path=hd&brandCode=hi&localeCode=en&regionCode=1&hotelCode=EWRBL&_PMID=99801505&GPC=SMW" target="_blank">Please click here to book online</a></div>
            </div>
        </div>
    </section>