    <!-- Events Section -->
    <section id="events" class="content-section">
        <div class="events-section">
            <div class="container">
                <div class="col-lg-12">
                    <h2>Events</h2>
                    <div class="row">
                        <div class="col-lg-4">
                        <img src="../img/rehearsal_dinner_temp.jpg" />
                            <h3>Rehearsal Dinner</h3>
                            <ul>
                                <li>Location TBD</li>
                                <li>April 29th, 2016 (Friday) @ Time TBD</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <img src="../img/church_temp.jpg" />
                            <h3>Ceremony</h3>
                            <ul>
                                <li>St. Therese Church</li>
                                <li><a href="https://www.google.com/maps/place/St+Therese's+Church/@40.8737198,-74.6433234,17z/data=!3m1!4b1!4m2!3m1!1s0x89c39fcaa00bf301:0xa90b4eadc240f324" target="_blank">151 Main St, Roxbury Township, NJ 07876</a></li>
                                <li>April 30th, 2016 (Saturday) @ Time TBD</li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <img src="../img/davids_country_inn.jpg" />
                            <h3>Reception</h3>
                            <ul>
                                <li>David's Country Inn</li>
                                <li><a href="https://www.google.com/maps/place/David's+Country+Inn/@40.8489066,-74.8245406,15z/data=!4m2!3m1!1s0x0:0xace325a09e3590b3" target="_blank">314 Main St, Hackettstown, NJ 07840</a></li>
                                <li>April 30th, 2016 (Saturday) @ Time TBD</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>