    <!-- Registry Section -->
    <section id="registry" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Registry</h2>
                <div class="row">
                	<div class="col-lg-6 col-md-6">
                		<a href="http://www1.macys.com/registry/wedding/guest/?registryId=6463367">
                			<img src="../img/macys.png" class="img-responsive"/>	
                		</a>
                	</div>
                	<div class="col-lg-6 col-md-6">
                		<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542762903&pwsurl=">
                			<img src="../img/bed_bath_and_beyond.png" class="img-responsive"/>
                		</a>
                	</div>
                </div>
            </div>
        </div>
    </section>